body{
    background-color:lightsteelblue;
}
.loginMenu{
    padding: 20% 0% 0% 50% ;
}
.loginMenu > .inLine{
    display: block;
}
.btn1{
    height: 30px;
    width: 150px;
    background-color: skyblue;
    border: 1px solid white;
    border-radius: 10%;
}
.btn2{
    height: 30px;
    width: 150px;
    background-color: lightcoral;
    border: 1px solid white;
    border-radius: 10%;
}
.buttones{
    padding-left: 20%;
}