*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}
a{
    text-decoration: none;
    color: rgba(53, 102, 143, 0.493);
}
a:hover{
    text-decoration: underline;
    color: aqua;       
}
html,body{
    height: 100vh;
}
body{
    font-size: 15px;
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,1),
        rgba(80, 142, 184, 0.1)
    ), url("..\\images\\bg.jpg");
    background-size: cover;
}
.container{
    padding-top: 160px;
}

.login{
    width: 360px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}
form > *{
    width: 100%;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.login input:focus{
    background-color: #eef;
}
.submit-btn{
    font-size: 14px;
    background-color: #1e6633;
    color: white;
}
ul{
    list-style : none;
    display: table;
    width: 100%;
    text-align: center;
}
ul > li{
    display: table-cell;
    width: 33%;
}
ul > li::after{
    content: "";
    border-right: 1px solid #444;
}
ul > li:last-child::after{
    border-right: 0px;
}
ul > li> a{
    width: 100%;
    display: inline-block;
}