.memo-area {
  height: 100%;
  background-color: #ccdcfb;
  position: relative;
}

.memo-area > button {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 0 5px 0 20px;
  font-weight: bold;
  background: #9cd664 url('../images/add_memo.gif') no-repeat 4px 8px;
  color: #275035;
  border: 1px solid #55684a;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
}

.memo-note {
  width: 160px;
  height: 180px;
  box-shadow: 4px 4px 4px -1px #666;
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px solid #cde;
  overflow: hidden;
  transition: 0.3s height;
}

.memo-note:active {
  z-index: 1000;
}

.memo-bar {
  height: 30px;
  padding: 1px 3px 0 0;
  background: rgb(252, 237, 131);
  border-bottom: solid 1px #ffa;
  text-align: right;
}

.memo-bar > .bi {
  margin-left: 3px;
}

.memo-edit {
  height: 158px;
  background-color: #ffff9d;
}

.memo-edit-area {
  overflow: auto;
  width: 100%;
  border: 0;
  background: transparent;
  font-weight: bold;
  min-height: 100%;
  padding: 4px 8px;
  resize: none;
}

.memo-edit-area:focus {
  background: #fff;
  box-shadow: 0 0 0 2px #0079bf inset;
}

.memo-note.fold {
  height: 30px;
}

.bi.bi-pin-angle-fill.choice {
  color: rgb(175, 18, 18);
}
