<div class='lotto-body'>
  <h2 class="title">로또게임</h2>
  <div class="lotto border border-secondary border-5 bg-warning">
    <span id="lottoSpan1" class="lotto__ball">1</span>
    <span id="lottoSpan2" class="lotto__ball">2</span>
    <span id="lottoSpan3" class="lotto__ball">3</span>
    <span id="lottoSpan4" class="lotto__ball">4</span>
    <span id="lottoSpan5" class="lotto__ball">5</span>
    <span id="lottoSpan6" class="lotto__ball">6</span>
  </div>
  <div class="text-center mt-5">
    <button id="lottoBtn">추첨시작</button>
  </div>
</div>
